#nav_header{
    z-index:1;
}
#news_header{
    width:100%;
    position:relative;
}
#news_header>img{
    max-width:100%;
}
#news_header>h1 {
    position: absolute;
    top: 35%;
    left: 46%;
    font-size: 32px;
    color:#e69800;
}
#news_nav{
    width:90%;
    margin:1% auto 3%;
    padding-bottom: 1%;
    font-size: 14px;
    border-bottom:2px dashed #ddd;
}
#news_nav>a:first-child{
    position: relative;
    display: inline-block;
    width: 130px;
    text-align: right;
}
#news_nav>a:first-child>i{
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background:url("../img/news/news_home.png") no-repeat;
}
#news_article{
    width:90%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
}
#news_article div,#news_article p{
    margin:20px 0;
}
#news_article p{
    text-indent: 48px;
}
#news_article img{
    max-width: 100%;
}
#news_article a{
    font-size: 14px;
    font-weight: bold;
    color:#e69800;
    border-bottom: 1px solid #e69800;
}
#news_article span{
    color:#f79646;
    display: block;
    margin:20px 0;
}
#news_title{
    width:90%;
    margin: 55px auto;
    font-weight: bold;
    font-size: 35px;
}